@model MovieApp.Models.MovieDetailViewModel

<label>titel</label> <br /> 
<strong>@Model.Title</strong> <br />    <br />  

<label>Beschrijving</label><br />
<strong>@Model.Description</strong><br /><br />

<label>Genre</label><br />
<strong>@Model.Genre</strong><br /><br />

<label>Uitgeefdatum</label><br />
<strong>@Model.ReleaseDate</strong><br /><br />

