@model IEnumerable<MovieApp.Models.MovieListViewModel>

    <table>
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
    <tr>
        <td>
            @movie.Title <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id"> Movie details</a>
        </td>
    </tr>}
        </tbody>
    </table>